.hello {
    font-size: 3.5rem;
	position: relative;
    transition: all .5s ease-in;
}

.helloTyping {
    color: white;
    z-index: 1;
}

.helloDoneTyping {
    color: black;
    z-index: 0;
}


  