body {
    padding-bottom: 2rem;
    color: black;
    text-align: center;
}

#gradient-background {
    background-image: linear-gradient(135deg, rgb(170, 203, 233), rgb(56, 161, 118));
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    height: 100%;
	z-index: -1;
}

a {
    color: black;
    font-weight: 500;
    line-height: 1.2;
}

a:hover {
    color: rgb(84, 112, 139);
}

span {
    padding: 0.5rem;
}
